body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  height: 70px;
  filter: drop-shadow(rgb(0, 0, 0, 0.1) -1px 2px 5px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo span {
  color: rgb(195, 0, 0);
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.navbar a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}
.menu-list a {
  font-weight: 600;
  color: rgb(171, 170, 170);
  transition: 1s;
  position: relative;
}
.menu-list a::after {
  content: "";
  display: block;
  color: black;
  width: 100%;
  height: 1.5px;
  background-color: rgb(195, 0, 0);
  position: absolute;
  transform: scalex(0);
  transition: 0.5s;
  transform-origin: left;
}
.menu-list li:hover a::after {
  transform: scaleX(1);
}
.menu-list a:hover {
  color: black;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 150px 190px;
  background-color: rgb(230, 230, 230);
  justify-content: space-around;
  align-items: center;
}
.hero-content {
  width: 50%;
  padding: 5px 0;
}
.hero-img {
  width: 50%;
}
.hero-img img {
  width: 70%;
  display: block;
  margin: auto;
}
.hero-img img:hover {
  animation: vibration 1s;
  animation-iteration-count: infinite;
}
@keyframes vibration {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.class-title {
  font-size: 70px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  margin: 0;
  color: rgb(45, 45, 45);
}
.class-par {
  color: darkgray;
}
.booking {
  padding: 10px 20px;
  color: white;
  background-color: rgb(195, 0, 0);
  border-radius: 0 25px 25px 25px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  border: 0;
}
.watch {
  padding: 10px 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.watch span {
  position: relative;
  padding: 15px;
  z-index: 1;
}
.watch span::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /* background-color: rgb(0, 0, 0); */
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: -12;
  border: 5px solid rgb(195, 0, 0);
}
.watch span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 55px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  top: 0;
  left: 18px;
  z-index: -1;
}
.watch:hover {
  color: rgb(195, 0, 0);
}
.chefs {
  margin: 0;
  padding: 50px;
}
.chefs h4 {
  text-align: center;
  margin: 0;
  color: rgb(148, 148, 148);
}
.chefs h2 {
  margin: 0;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
}
.chefs span {
  color: rgb(195, 0, 0);
}
.chefs h3,
p {
  margin: 0;
  padding: 5px;
}
.cards-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.william img,
.walter img,
.sarah img {
  width: 100%;
}
.william-content,
.walter-content,
.sarah-content {
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
.social-box-walter {
  content: "";
  display: block;
  width: 45px;
  height: 150px;
  background-color: rgba(240, 248, 255, 0.358);
  position: absolute;
  top: 30px;
  right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateX(150%);
  transition: 0.5s;
}
.social-box-sarah {
  content: "";
  display: block;
  width: 45px;
  height: 150px;
  background-color: rgba(240, 248, 255, 0.358);
  position: absolute;
  top: 30px;
  right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateX(150%);
  transition: 0.5s;
}
.social-box-william {
  content: "";
  display: block;
  width: 45px;
  height: 150px;
  background-color: rgba(240, 248, 255, 0.358);
  position: absolute;
  top: 30px;
  right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateX(150%);
  transition: 0.5s;
}

.walter:hover .social-box-walter {
  transform: translateX(0%);
}
.social-box-walter i {
  color: rgb(141, 141, 141);
  transition: 0.5s;
}
.social-box-walter i:hover {
  color: rgb(0, 0, 0);
}

.sarah:hover .social-box-sarah {
  transform: translateX(0%);
}
.social-box-sarah i {
  color: rgb(141, 141, 141);
  transition: 0.5s;
}
.social-box-sarah i:hover {
  color: rgb(0, 0, 0);
}

.william:hover .social-box-william {
  transform: translateX(0%);
}
.social-box-william i {
  color: rgb(141, 141, 141);
  transition: 0.5s;
}
.social-box-william i:hover {
  color: rgb(0, 0, 0);
}

.walter {
  width: 22%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: rgb(127, 127, 127, 0.4) 0 0 10px 0;
  position: relative;
}
.walter:hover {
  transform: scale(1.08);
}
.sarah:hover {
  transform: scale(1.08);
}
.william:hover {
  transform: scale(1.08);
}
.sarah {
  width: 22%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: rgba(127, 127, 127, 0.4) 0 0 10px 0;
  position: relative;
}
.william {
  width: 22%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: rgb(127, 127, 127, 0.4) 0 0 10px 0;
  position: relative;
}

.gallery {
  padding: 50px 10px;
  background-color: rgb(230, 230, 230);
}
.gallery-title {
  text-align: center;
  color: rgb(148, 148, 148);
}
.gallery h3 {
  margin: 0;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
}
.gallery span {
  color: rgb(195, 0, 0);
}

.gallery-grid {
  display: grid;
  height: 800px;
  padding: 10px 300px;
  gap: 20px;
  grid-template-areas:
    "pic-1 pic-2 pic-3"
    "pic-4 pic-2 pic-5"
    "pic-4 pic-6 pic-7"
    ". pic-6 .";
}

.pic-1 {
  background-color: teal;
  grid-area: pic-1;
  height: 200px;
  background-image: url(../imgs/meal-1.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.layer1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer1-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-1:hover .layer1 {
  transform: translateY(0%);
}

.pic-2 {
  background-color: rgb(28, 65, 65);
  background-image: url(../imgs/meal-2.jpg);
  background-size: cover;
  grid-area: pic-2;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.layer2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer2-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-2:hover .layer2 {
  transform: translateY(0%);
}

.pic-3 {
  background-color: rgb(114, 87, 52);
  background-image: url(../imgs/meal-3.jpg);
  background-size: cover;
  grid-area: pic-3;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.layer3 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer3-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-3:hover .layer3 {
  transform: translateY(0%);
}

.pic-4 {
  background-color: tomato;
  background-image: url(../imgs/meal-4.jpg);
  background-size: cover;
  grid-area: pic-4;
  margin-top: -90px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.layer4 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer4-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-4:hover .layer4 {
  transform: translateY(0%);
}

.pic-5 {
  background-color: rgb(58, 0, 128);
  grid-area: pic-5;
  background-image: url(../imgs/meal-5.jpg);
  margin-top: -90px;
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.layer5 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer5-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-5:hover .layer5 {
  transform: translateY(0%);
}
.pic-6 {
  background-color: rgb(128, 0, 36);
  grid-area: pic-6;
  height: 300px;
  /* margin-top: -50px; */
  background-image: url(../imgs/meal-7.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.layer6 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer6-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-6:hover .layer6 {
  transform: translateY(0%);
}
.pic-7 {
  background-image: url(../imgs/meal-6.jpg);
  background-size: cover;
  margin-top: -80px;
  background-color: rgb(0, 128, 30);
  grid-area: pic-7;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.layer7 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}
.layer7-content {
  display: block;
  color: aliceblue;
  text-align: center;
  margin: auto;
}
.pic-7:hover .layer7 {
  transform: translateY(0%);
}
.contact-us {
  padding: 50px 10px;
}
.contact-title {
  text-align: center;
  color: rgb(148, 148, 148);
}
.contact-us h3 {
  margin: 0;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
}
.details {
  padding: 0 15px;
}
.contact-us span {
  color: rgb(195, 0, 0);
}

.map {
  display: block;
  margin: auto;
  width: 70%;
  height: 350px;
}
.contact-content {
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.box {
  width: 43%;
  margin: 2px;
  padding: 10px 20px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
}
.details h3 {
  margin: 0;
  color: rgb(105, 105, 105);
}
.details {
  font-size: 14px;
}
.red-cir {
  background-color: rgb(195, 0, 0);
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}
.red-cir i {
  text-align: center;
  position: absolute;
  left: 30%;
  top: 30%;
  color: aliceblue;
}
.the-form {
  background-color: rgb(246, 246, 246);
  width: 70%;
  margin: auto;
  padding: 20px;
  margin-bottom: 50px;
}
.the-form form {
  text-align: center;
}
#name {
  width: 49%;
  margin: 3px;
  height: 40px;
  border: 0.5px solid rgb(219, 219, 219);
}
#email {
  width: 49%;
  margin: 7px 3px;
  height: 40px;
  border: 0.5px solid rgb(219, 219, 219);
}
#subject {
  width: 99%;
  height: 40px;
  margin: 7px;
  border: 0.5px solid rgb(219, 219, 219);
}
#message {
  width: 99%;
  height: 150px;
  margin: 7px;
  border: 0.5px solid rgb(219, 219, 219);
}
.the-form button {
  background-color: rgb(195, 0, 0);
  color: aliceblue;
  border: 0;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}






.footer {
    color: aliceblue;
  background-color: aquamarine;
  background-image: url(../imgs/textured-metal-background.jpg);
  background-size: cover;
  padding:10px 200px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.us{
    width: 20%;
    margin: 10px;
}
.us span{
    color: red;
}

.us h4{
    text-align: center;
}
.us h4::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: aliceblue;
    margin-top: 5px;
}
.us .icons{
    text-align: center;
}
.us a{
    color: aliceblue;
    padding: 0 15px;
}
.us-logo{
    padding:20px 10px;
    display: inline-block;
}
.us-logo h2{
    display: inline-block;
}
.sub{
    margin: 40px;
    width: 40%;
}
#email-address{
    padding: 10px 5px;
    width: 300px;
    margin-right: 20px;
}
.sub button{
    width: 140px;
    background-color: red;
    color: aliceblue;
    cursor: pointer;
}
.sub i{
    padding: 0 10px 0 0;
    cursor: pointer;
}

.cont{
 display: flex;   
}
.links{
    display: flex;
    justify-content: space-between;
}
.links ul{
    list-style-type: none;
}
.links a{
    color: aliceblue;
    text-decoration: none;
}
.links h3{
    margin: 0;
}
.links li{
    margin: 10px;
    transition: 0.5s;
}
.links li:hover{
    background-color: rgba(102, 102, 102, 0.664);
    transform: translateX(10%);
}
.get-in-touch{
    margin: 40px;
    width: 20%;
    font-size: 14px;
}
.get-in-touch-content{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;

}
.get-in-touch-content-icons{
    color: red;
}